pandas
numpy
scikit-learn
matplotlib
seaborn
pymongo
setuptools
Certifi
pymongo[srv]==3.12
dotenv
dill 
pyaml
xgboost
lightgbm
optuna
imbalanced-learn
fastapi
scipy
uvicorn
jinja2 
python-multipart
langchain 
langchain-nvidia-ai-endpoints 
uvicorn
